html {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: helvetica;
  background-color: #e3e0cf; }

.center-heading {
  text-align: center;
  color: #9fa8a3; }

pre {
  display: inline; }

.other-heading {
  text-align: center;
  color: dark grey; }

#dateNow {
  text-align: center; }

.hidden {
  display: none; }

.section {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #9fa8a3;
  width: 50%;
  padding: 2em;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto; }

button {
  font-size: .75em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px #172727;
  -moz-box-shadow: 2px 2px 2px #172727;
  box-shadow: 2px 2px 2px #172727;
  outline: none; }

button:active {
  -webkit-box-shadow: 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000; }

fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #9fa8a3;
  border: 3px solid #000000;
  font-weight: 600;
  padding: .625em 1.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #000000;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%;
  font-size: 1rem;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto; }

fieldset {
  text-align: center; }

#dateNow {
  font-weight: bold; }

label {
  font-size: 1em; }

textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #000000;
  height: 8em;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%; }

input:focus, textarea:focus {
  border-color: #ed4337; }

@media screen and (min-width: 1000px) {
  input {
    display: block;
    width: 50%; }
  textarea {
    display: block;
    height: 10em;
    width: 100%; } }

#app-menu {
  border-bottom: 1px solid grey;
  clear: both;
  margin: 15px 0; }

#app-menu li {
  display: table-cell;
  width: 1%;
  list-style-type: none;
  text-align: center; }

#app-menu li a {
  background-color: grey;
  padding: 10px 15px 8px 15px;
  display: block;
  font-weight: bold;
  border-right: 2px solid black; }

#app-menu li.active a {
  background-color: blue;
  color: #FFFFFF;
  text-decoration: none; }

body.animate-body {
  background-color: #000000; }

#animateButtonDiv {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 20%; }

#animateButton {
  padding: 10px 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28px;
  font-weight: 1000; }

.animate-title {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: none;
  width: 25%;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  margin: 300px auto 0;
  border: 5px solid #FFFFFF; }

.animate-title-two, .animate-title-three, .animate-title-four {
  display: none;
  width: 35%;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  margin: 300px auto 0; }

#animateTitleThree {
  color: #FFFFFF;
  text-align: center; }

.animate-area {
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 10px solid white;
  max-height: 100%;
  height: 640px;
  margin: 20px;
  overflow-y: none;
  position: relative; }

.left-paddle {
  margin-left: 1rem;
  font-size: 200px;
  font-weight: 2000;
  color: #FFFFFF;
  display: none; }

.right-paddle {
  margin-left: 1rem;
  font-size: 200px;
  font-weight: 2000;
  color: #FFFFFF;
  display: none; }

.paddle-div-left {
  position: absolute;
  left: 10px;
  top: -190px;
  display: inline-block;
  margin: 250px auto 0; }

.paddle-div-right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 60px; }

.my-ball {
  position: absolute;
  left: 45px;
  top: -100px; }

.ball {
  font-size: 250px;
  color: #FFFFFF;
  display: none; }

.p {
  position: absolute;
  left: 320px;
  top: 100px; }

.o {
  position: absolute;
  left: 500px;
  top: 100px; }

.n {
  position: absolute;
  left: 707px;
  top: 100px; }

.g {
  position: absolute;
  left: 900px;
  top: 100px; }

.pong {
  font-size: 250px;
  color: #FFFFFF;
  display: none;
  text-decoration: underline overline; }

.full-stop {
  position: absolute; }

.pong-stop {
  font-size: 250px;
  color: #FFFFFF;
  display: none; }

#breakoutCanvas {
  background-color: #f9f9f9;
  border: 4px solid #818383;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 0; }

.breakout-button {
  background-color: #818383;
  font-weight: 800;
  margin: 10px 10px 0 10px;
  padding: 10px 10px; }

.button-container {
  background-color: #AAA6A2;
  background: -webkit-linear-gradient(#AAA6A2, #818383);
  background: -o-linear-gradient(#AAA6A2, #818383);
  background: -moz-linear-gradient(#AAA6A2, #818383);
  background: linear-gradient(#AAA6A2, #818383);
  margin: 10px auto;
  text-align: center;
  border: 2px solid #818383;
  width: 480px;
  max-width: 100%; }

.breakout-text {
  color: #2F4F4F; }
