<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Breakout - Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
  <audio id="breakoutMusic" src="../audio/music/sudstep.mp3" loop="loop"></audio>
  <canvas id="breakoutCanvas" width="480" height="320"></canvas>
  <div class="button-container">
    <button class="breakout-button" onclick="toggleMusic()">Stop / Play Music</button>
    <button class="breakout-button" onclick="document.location.reload()">Restart game</button>
  </div>
<script src="../scripts/breakout.js"></script>
</body>
</html>
