<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Breakout - Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
  <audio id="breakoutMusic" src="/audio/music/sudStep.mp3" loop="loop"></audio>
  <canvas id="breakoutCanvas" width="480" height="320">Sorry. Your browser can't display this game.
  <a href="https://browser-update.org/update.html">Click here</a> for information about updating your browser.</canvas>
  <div class="button-container">
    <button id="breakoutMusicButton" class="breakout-button" onclick="toggleMusic()">Play Music</button>
    <button id="breakoutPauseButton" class="breakout-button" onclick="breakoutPauseResume()">Pause Game</button>
    <button id="breakoutStartButton" class="breakout-button" onclick="restartGame()">Start game</button>
    <p id="breakoutText" class="breakout-text"></p>
  </div>
<script src="../scripts/breakout.js"></script>
</body>
</html>
