<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Breakout - Game</title>
    <style>
    * { padding: 0; margin: 0;}
    canvas {background: #eee; display: block; margin: 0 auto; border: 4px solid #818383; }
    </style>
</head>
<body>
  <canvas id="breakoutCanvas" width="480" height="320"></canvas>


  <script>
  // Canvas
  var canvas = document.getElementById('breakoutCanvas');
  var ctx = canvas.getContext('2d');
  // Ball
  var x = canvas.width/2; //starting ball position, used in drawball
  var y = canvas.height-30; //starting ball position, used in drawball
  var ballRadius = 10;
  var dx = 2;  //starting ball direction
  var dy = -2; //starting ball direction
  // Paddle
  var paddleHeight = 10;
  var paddleWidth = 75;
  var paddleX = (canvas.width - paddleWidth)/2;
  // Controls
  var rightPressed = false;
  var leftPressed = false;
  // Bricks
  var brickRowCount = 3;
  var brickColumnCount = 5;
  var brickWidth = 75;
  var brickHeight = 20;
  var brickPadding = 10;
  var brickOffsetTop = 30;
  var brickOffsetLeft = 30;
  // Score
  var score = 0;
  var scorePlusBasic = 20;
  var lives = 3;

  document.addEventListener('keydown', keyDownHandler, false);
  document.addEventListener('keyup', keyUpHandler, false);
  document.addEventListener('mousemove', mouseMoveHandler);
  document.addEventListener('touchmove', touchMoveHandler);

  var bricks = [];
    for (c = 0; c < brickColumnCount; c++) {
      bricks[c] = [];
        for (r = 0; r < brickRowCount; r++) {
          bricks[c][r] = { x: 0, y: 0, status: 1 };
        }
    }

  function keyDownHandler(e) {
    if(e.keyCode == 39) {
      rightPressed = true;
    } else if(e.keyCode == 37) {
      leftPressed = true;
    }
  }

  function keyUpHandler(e) {
    if(e.keyCode === 39) {
      rightPressed = false;
    } else if(e.keyCode === 37) {
      leftPressed = false;
    }
  }

  function mouseMoveHandler(e) {
    var relativeX = e.clientX - canvas.offsetLeft;
    if(relativeX > 0 + (paddleWidth / 2) && relativeX < canvas.width - (paddleWidth / 2)) {
      paddleX = relativeX - paddleWidth / 2;
    }
  }

  function touchMoveHandler(e) {
    var relativeX = e.clientX - canvas.offsetLeft;
    if(relativeX > 0 + (paddleWidth / 2) && relativeX < canvas.width - (paddleWidth / 2)) {
      paddleX = relativeX - paddleWidth / 2;
    }
  }

  function drawBall() {
    ctx.beginPath();
    ctx.arc(x, y, ballRadius, 0, Math.PI*2);
    ctx.fillStyle = '#818383';
    ctx.fill();
    ctx.closePath();
  }

  function drawPaddle() {
    ctx.beginPath();
    ctx.rect(paddleX, canvas.height - paddleHeight, paddleWidth, paddleHeight)
    ctx.fillStyle = '#818383';
    ctx.fill();
    ctx.closePath();
  }

  function drawBricks() {
    // loop through bricks arrays to draw bricks
    for (c = 0; c < brickColumnCount; c++) {
      for (r = 0; r < brickRowCount; r++) {
        if(bricks[c][r].status == 1) {
        // Bricks positioned by loop index * (brick width + padding) + offset
          var brickX = (c * (brickWidth + brickPadding)) + brickOffsetLeft;
          var brickY = (r * (brickHeight + brickPadding)) + brickOffsetTop;
          bricks[c][r].x = brickX;
          bricks[c][r].y = brickY;
          ctx.beginPath();
          ctx.rect(brickX, brickY, brickWidth, brickHeight);
          ctx.strokeStyle = '5px, #818383';
          ctx.stroke();
          if (r % 3 === 0){
          ctx.fillStyle = '#C67171';
        } else if (r % 2 === 0) {
          ctx.fillStyle = '#0095DD';
        } else {
          ctx.fillStyle = '#EDC393'
        }
          ctx.fill();
          ctx.closePath();
        }
      }
    }
  }

  function collisionDetection() {
    for (c = 0; c < brickColumnCount; c++) {
      for (r = 0; r < brickRowCount; r++) {
        var b = bricks[c][r];
        if(b.status == 1) {
          if (x > b.x && x < b.x + brickWidth && y > b.y && y < b.y + brickHeight) {
            dy = -dy;
            // change b.status so brick doesn't draw
            b.status = 0;
            // add 20 to score
            score += scorePlusBasic;
            if(score === brickRowCount * brickColumnCount * scorePlusBasic) {
              alert('You win! Congratulations!' + '\n' + 'You scored ' + score + ' points!');
              document.location.reload();
            }
          }
      }
      }
    }
  }

  function drawScore() {
    ctx.font = '16px Arial';
    ctx.fillStyle = '#000';
    ctx.fillText('Score: ' + score, 400, 20);
  }

  function drawLives() {
    ctx.font = '16px Arial';
    ctx.fillStyle = '#000';
    ctx.fillText('Lives: ' + lives, 5, 20);
  }

  function draw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height); // clears area within given boundries
    drawBricks();
    drawBall();
    drawPaddle();
    drawScore();
    drawLives();
    collisionDetection();
    // If ball hits left or right canvas edge, reverse x direction
      if(x + dx > canvas.width - ballRadius || x + dx < ballRadius) {
        dx = -dx;
      }
    // If ball hits top canvas edge, reverse y direction
      if (y + dy < ballRadius) {
        dy = -dy;
    // If ball hits bottom edge but not paddle, game over triggered
      } else if (y + dy > canvas.height - ballRadius) {
          if (x > paddleX && x < paddleX + paddleWidth) {
            dy = -dy;
          } else {
            lives--;
            if(!lives) {
              alert("Game Over");
              document.location.reload();
            } else {
              x = canvas.width / 2;
              y = canvas.height - 30;
              dx = 2;
              dy = -2;
              paddleX = (canvas.width - paddleWidth) / 2;
            }
        }
      }
    // conditionals for moving paddles
      if (rightPressed && paddleX < canvas.width - paddleWidth) {
        paddleX += 7;
      } else if (leftPressed && paddleX > 0) {
        paddleX -=7;
      }
      x += dx;
      y += dy;
  }

setInterval(draw, 10); //sets repeat on function draw with interval 10 milliseconds


  // ctx.beginPath();
  // ctx.rect(20, 40, 50, 50); //draws rectangle or square x position, y position, width, height
  // ctx.fillStyle = 'grey';
  // ctx.fill();
  // ctx.closePath();
  //
  // ctx.beginPath();
  // ctx.arc(240, 160, 20, 0, Math.PI*2, false); // x,y,radius,start angle, end angle, draw direction(false is clockwise)
  // ctx.fillStyle = 'green';
  // ctx.fill();
  // ctx.closePath();
  //
  // ctx.beginPath();
  // ctx.rect(160, 10, 100, 40);
  // ctx.strokeStyle = 'rgba(0, 0, 255, 0.5)';
  // ctx.stroke();
  // ctx.closePath();
  </script>
</body>
</html>
