<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Date Calculator</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/jquery-3.1.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
  <header>
    <div id="app-menu" role="navigation"><div class="content">
    <nav><ul>
        <li><a href="dateCalc.html">Date Calculator</a></li>
        <li><a href="form-example.html" class="todo">Form example</a></li>
        <li><a href="mousefun.html">Mouse Fun</a></li>
        <li><a href="jq_animation.html">Animation</a></li>
    </ul></nav>
    </div></div>
  </header>
  <h1 class="other-heading">Joe's date calculator</h1>

<div class="section">
<h2 class="other-heading">The current date is:</h2>
<p id="dateNow"><strong>Date</strong></p>
<fieldset>
<label for="yourDays">How many days would you like to add?</label>
<input id="yourDays" type="number" name="yourDays" value="">
<label for="yourMonths">How many months would you like to add?</label>
<input id="yourMonths" type="number" name="yourMonths" value="0">
<button id="firstButton" onclick="addDate()">Click Here!</button>
<h2 class="other-heading" id="dateMessage"></h2>
</fieldset>
</div>



  <script src="../scripts/dateCalc.js"></script>
</body>

</html>
