<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Quick quiz</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/jquery-3.1.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<header>
  <div id="app-menu" role="navigation"><div class="content">
  <nav><ul>
      <li><a href="dateCalc.html">Date Calculator</a></li>
      <li><a href="form-example.html" class="todo">Form example</a></li>
      <li><a href="mousefun.html">Mouse Fun</a></li>
      <li><a href="jq_animation.html">Animation</a></li>
  </ul></nav>
  </div></div>
</header>
  <body>
    <h1 class="center-heading">Welcome</h1>


        <div class="section">
<label for="yourName">Your name</label>
<input id="yourName" type="text" name="Your name" value="">
<button id="firstButton" onclick="nameResponse()">Click Here!</button>
<p id="nameMessage"></p>
</div>

<div>
  <p id="myTest">Hello</p>
</div>

<div>
  <p id="myTest2">Hello</p>
</div>

<div>
  <p id="myTest3">Hello</p>
</div>






<script src="../scripts/form-example.js"></script>
<script src="../scripts/myTestScript.js"></script>
  </body>

  </html>
