
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Animation</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/jquery-3.1.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body class="animate-body">
<header>
  <div id="app-menu" role="navigation"><div class="content">
  <nav><ul>
      <li><a href="dateCalc.html">Date Calculator</a></li>
      <li><a href="form-example.html" class="todo">Form example</a></li>
      <li><a href="mousefun.html">Mouse Fun</a></li>
      <li><a href="jq_animation.html">Animation</a></li>
  </ul></nav>
  </div></div>



  <h1 class="animate-title">JoCo Entertainment</h1>
  <h3 id="animateTitleThree" class="hidden">Presents</h3>
  <h1 class="animate-title-two">An entertaining production</h1>
  <h1 class="animate-title-three">In association with</h1>
  <h1 class="animate-title-four">JoCo Games</h1>
  <div id="animateButtonDiv">
  <button id="animateButton">BEGIN</button>
</div>


  <div class="animate-area">
    <div class="paddle-div-left">
    <h1 class="left-paddle">|</h1>
  </div>
  <div class="paddle-div-right">
    <h1 class="right-paddle">|</h1>
  </div>
<div class="my-ball">
  <h1 class="ball">.</h1>
</div>
</div>
<div class="p">
  <h1 class="pong">P</h1>
</div>
<div class="o">
  <h1 class="pong">O</h1>
</div>
<div class="n">
  <h1 class="pong pong-n">N</h1>
</div>
<div class="g">
  <h1 class="pong">G</h1>
</div>
<div class="full-stop">
  <h1 class="pong-stop">.</h1>
</div>

</header>


<script src="../scripts/jq_animation.js"></script>
</body>
</html>
