$background-color: #e3e0cf;

$color1: #9fa8a3;
$color2: #c5d5cb;



//background colors
$bg-color-main: #D7D7C1;
$bg-color-background: #B4A79A;
$bg-color-button: #AC7339;

$bg-color-form: #9fa8a3;

$bg-color-nav-bar: #003300;

//border colors
$border-color-main: #7a7a52;
$border-color-navbar: #996600;
$border-color-form: #000000;

//focus color
$color-focus: #ed4337;

//hover color
$color-hover: #7F7F00;

//text colors
$text-color: #000000;
$text-color-soft: #cccccc;

//shadow colors
$shadow-color: #172727;


//Other colors
$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
