#app-menu {
  border-bottom: 1px solid grey;
  clear: both;
  margin: 15px 0;
}

#app-menu li {
  display: table-cell;
  width: 1%;
  list-style-type: none;
  text-align: center;
}

#app-menu li a {
  background-color: grey;
  padding: 10px 15px 8px 15px;
  display: block;
  font-weight: bold;
  border-right: 2px solid black;
}

#app-menu li.active a {
  background-color: blue;
  color: $white;
  text-decoration: none;
}
